.form {
  padding: 0;
  margin: 0 auto 82px;
  width: 100%;
}

.form__main-title {
  padding: 0;
  margin: 0 auto 56px;
  font-size: 60px;
  line-height: 60px;
  width: 1220px;
}

.form__text {
  width: 1220px;
  padding: 0;
  margin: 0 auto 66px;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
}

.form__fields {
  display: block;
  padding: 0;
  margin: 0 auto;
}

.form__personal {
  padding: 0;
  margin: 0 auto;
  width: 1220px;
  min-height: 196px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.form__personal-list {
  padding: 0;
  margin: 0 0 75px 0;
  width: 50%;
  height: 100%;
  //display: flex;
  // flex-wrap: wrap;
}

.form__personal-item {
  padding: 0;
  margin: 0 0 20px 0;
  width: 100%;
  display: flex;
}

.form__personal-lable {
  padding: 0 14px 0 0;
  margin: 0;
  align-self: center;
}

.form__personal-purpose-list {
  padding: 25px 0 12px 28px;
  margin: 0;
  width: 45%;
  height: 100%;
  border: 1px solid #E7E7E7;
  box-sizing: border-box;
}

.form__radio-label {
  margin: 0 0 15px 0;
}

.form__contacts {
  width: 100%;
  margin: 0 auto 85px;
  padding: 20px 0 0 0;
  border-top: 2px solid #68B738;
}

.form__contacts-wrapper {
  width: 1220px;
  margin: 0 auto;
  position: relative;
  padding: 76px 0 0 0;
}

.form__contacts-title {
  position: absolute;
  padding: 0 15px 0;
  margin: 0;
  top: -45px;
  left: -17px;
  font-size: 36px;
  line-height: 36px;
  background-color: #ffffff;
}

.form__contacts-list {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form__contacts-item {
  margin: 0;
  padding: 0 0 30px 0;
}

.form__contacts-email {
  width: 50%;
  display: flex;
  position: relative;
}

.form__contacts-img--email {
  width: 19px;
  height: 14px;
  position: absolute;
  top: 19px;
  right: 19px;
  stroke: #222222;
}

.form__contacts-telephone {
  width: 45%;
  display: flex;
  position: relative;
}

.form__contacts-img--telephone {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 17px;
  right: 19px;
  fill: #222222;
}

.form__comment {
  padding: 0;
  margin: 0 0 75px 0;
  width: 100%;
  border-top: 2px solid #68B738;
}

.form__comment-wrapper {
  width: 1220px;
  margin: 0 auto;
  position: relative;
  padding: 76px 0 0 0;
}

.form__comment-title {
  position: absolute;
  padding: 0 15px 0;
  margin: 0;
  top: -25px;
  left: -17px;
  font-size: 36px;
  line-height: 36px;
  background-color: #ffffff;
}

.form__comment-text {
  display: block;

  width: 100%;
  height: 174px;
  resize: none;
  border: 1px solid #E7E7E7;
}

.form__comment-text::placeholder {
  text-indent: 19px;
  margin: 10 0 0 19px;
  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  color: #444444;
}

.form__extra {
  padding: 0;
  margin: 0;
  width: 100%;
  border-top: 2px solid #68B738;
}

.form__extra-wrapper {
  padding: 0;
  margin: 0 auto;
  width: 1220px;
  position: relative;
}

.form__extra-title {
  position: absolute;
  padding: 0 15px 0;
  margin: 0;
  top: -25px;
  left: -17px;
  font-size: 36px;
  line-height: 36px;
  background-color: #ffffff;
}

.form__extra-list {
  padding: 68px 0 38px;
  margin: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.form__extra-item {
  margin: 0;
  padding: 0 0 50px 0;
  width: 25%;
}

.form__send-form {
  padding: 0;
  margin: 0 auto;
  width: 1220px;
  display: flex;
  justify-content: space-between;
}

.form__send-button {
  padding: 0;
  margin: 0;
  width: 50%;
}

.form__form-legend {
  padding: 0;
  margin: 0;
  width: 45%;
  align-self: center;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
}
