.input-data__label {
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  color: #444444;
  display: block;
  padding: 0;
  margin: 0;
}

.input-data__input {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  color: #444444;
  border: 1px solid #e7e7e7;
  height: 52px;
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 0 11px;
  margin: 0;

  &::placeholder {
    text-transform: uppercase;
  }

  &:hover {
    border: 1px solid #cdcdcd;
  }

  &:focus {
    border: 2px solid #444444;
    outline: none;

    &:invalid {
      border: 2px solid #ff8282;
    }
  }
}

.input-data__input:focus + .form__contacts-img--email {
  stroke: #68b738;
}

.input-data__input:focus + .form__contacts-img--telephone {
  fill: #68b738;
}

.input-data__input:focus:invalid + .form__contacts-img--email {
  stroke: #ff8282;
}

.input-data__input:focus:invalid + .form__contacts-img--telephone {
  fill: #ff8282;
}

@media (max-width: @tablet-width) {
  .input-data__label {
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: #444444;
    display: block;
    padding: 0;
    margin: 0;
  }

  .input-data__input {
    font-family: "Oswald", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: #444444;
    border: 1px solid #e7e7e7;
    height: 46px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 0 11px;
    margin: 0;
  }
}
