@media (min-width: @tablet-width) {
  .page-main {
    padding: 0;
    margin: 0 auto;
    width: 100%;
  }
}

@media (min-width: @desktop-width) {
  .page-main {
    padding: 0;
    margin: 0 auto;
  }

  .page-main::before {
    content: "";
    display: block;
    position: absolute;
    width: 50vw;
    min-height: 694px;
    background: rgba(104, 183, 56, 0.85);
    top: 0;
    right: 0;
    z-index: 1;
  }

  .page-main::after {
    content: "";
    display: block;
    position: absolute;
    width: 50vw;
    min-height: 694px;
    background: url("../../img/index-background-desktop1.jpg") no-repeat;
    background-size: 100%;
    top: 0;
    right: 0;
    z-index: 0;
    transform: unset;

    @media (min-resolution: 2dppx) {
      background: url("../../img/index-background-desktop1@2x.jpg") no-repeat;
      background-size: 100%;
    }
  }
}
